{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_insights/insights_list

    Template for the insights list.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "contextid": 123,
        "modelid": 321,
        "insightname": "Best insight ever",
        "nostaticmodelnotification": {
            "message": "This is just a prediction."
        },
        "showpredictionheading": "true",
        "predictions": [
            {
                "predictiondisplayvalue": "This dev will understand it",
                "style": "success",
                "outcomeicon": {
                    "attributes": [
                        {"name": "src", "value": "https://moodle.org/logo/moodle-logo.svg" }
                    ]
                },
                "multiplepredictions": "true",
                "insights": [
                    {
                        "sampleimage": "<a href=\"#\">Link</a>",
                        "sampledescription": "Sample description",
                        "actions": [
                            {
                                "classes": "",
                                "primary": {
                                    "items": [{"rawhtml": "<p>View details</p>"}]
                                },
                                "secondary": {
                                    "items": [{"rawhtml": "<p>Not useful</p>"}]
                                }
                            }
                        ]
                    }, {
                        "sampleimage": "<a href=\"#\">Link</a>",
                        "sampledescription": "Sample description",
                        "actions": [
                            {
                                "classes": "",
                                "primary": {
                                    "items": [{"rawhtml": "<p>View details</p>"}]
                                },
                                "secondary": {
                                    "items": [{"rawhtml": "<p>Not useful</p>"}]
                                }
                            }
                        ]
                    }
                ]
            }, {
                "predictiondisplayvalue": "This dev will not understand it",
                "style": "danger",
                "outcomeicon": {
                    "attributes": [
                        {"name": "src", "value": "https://moodle.org/logo/moodle-logo.svg" }
                    ]
                },
                "insights": [
                    {
                        "sampleimage": "<a href=\"#\">Any renderable</a>",
                        "sampledescription": "Another sample description"
                    }
                ]
            }
        ],
        "noinsights": false
    }
}}

{{#modelselector}}
    <div class="mb-2">
        {{> core/single_select}}
    </div>
{{/modelselector}}

<h2 class="mb-2">{{insightname}}</h2>

{{{insightdescription}}}

{{#showpredictionheading}}
    <caption>
        {{#str}}prediction, report_insights{{/str}}:
        <span class="{{#style}}table-{{style}}{{/style}}">
            {{#outcomeicon}}
                {{> core/pix_icon}}
            {{/outcomeicon}}
            {{predictiondisplayvalue}}
        </span>
    </caption>
{{/showpredictionheading}}

<div class="insight-container" data-context-id="{{contextid}}" data-model-id="{{modelid}}">
<table class="generaltable insights-list mt-3">
    <thead>
        <tr>
            <th>{{#str}} fullname {{/str}}</th>
            {{#contexts}}
                <th>{{{.}}}</th>
            {{/contexts}}
        </tr>
    </thead>
    <tbody>
        {{#allusers}}
            <tr>
            <td>{{{fullname}}}</td>
            {{#predictions}}
                {{#insights}}
                        <td data-prediction-id="{{predictionid}}">
                        {{#actions}}
                            {{> core/action_menu}}
                        {{/actions}}
                        </td>
                {{/insights}}
                {{^insights}}
                <td>--</td>
                {{/insights}}
            {{/predictions}}
            </tr>
        {{/allusers}}
    </tbody>
</table>
</div>
